<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <h1>Velkommen til TechSupport AS</h1>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    {% if request.path == '/login' %}
    <h2>Login</h2>
    <form method="POST" action="/login">
        <label for="username">Brukernavn:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Passord:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Logg inn</button>
        <p>Har du ikke konto?<a href="/register"> Registrer deg</a></p>
    </form>
    {% endif %}

    {% if request.path == '/register' %}
    <h2>Registrer</h2>
    <form method="POST" action="/register">
        <label for="email">E-post:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="username">Brukernavn:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="first_name">Fornavn:</label><br>
        <input type="text" id="first_name" name="first_name" required><br><br>

        <label for="last_name">Etternavn:</label><br>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <label for="password">Passord:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Registrer</button>
        <p>Har du allerede en konto?<a href="/login"> Logg inn</a></p>
    </form>
    {% endif %}
</body>

</html>