<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
</head>

<body>

    <p>Hva vil du gjøre?</p>

    {% if message %}
    <p style="color: red;">{{ message }}</p>
    {% endif %}
    

    {% if role == 'bruker' %}
    <ul>
        <li><a href="/create_ticket">Opprett ny sak</a></li>
        <li><a href="/view_tickets">Se mine saker</a></li>
        {% if 'drift' in session.roles %}
        <li><a href="/chose_role">Endre rolle</a></li>
        {% endif %}
        <li><a href="/logout">Logg ut</a></li>
    </ul>

    {% elif role == 'drift' %}
    <ul>
        <li><a href="/manage_tickets">Ta et sak</a></li>
        <li><a href="/view_tickets">Se alle saker</a></li>
        <li><a href="/chose_role">Endre rolle</a></li>
        <li><a href="/logout">Logg ut</a></li>
    </ul>
    {% endif %}

</body>

</html>