<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rolle valg</title>
</head>

<body>

    <p>Du har flere roller. Hva vil du gjøre i dag?</p>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST" action="/chose_role">
        {% for role in roles %}
        <ul>
            <button type="submit" name="role" value="{{ role }}">
                {% if role == 'bruker' %}Bruker{% endif %}
                {% if role == 'drift' %}Drift arbeider{% endif %}
            </button>
        </ul>
        {% endfor %}
    </form>

</body>

</html>