<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opprett ny sak</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h2>Opprett ny sak</h2>
        <form method="POST" action="/create_ticket">

            <label for="title">Tittel:</label>
            <input type="text" id="title" name="title" required><br><br>

            <label for="description">Beskrivelse:</label>
            <textarea id="description" name="description" required></textarea><br><br>

            <button type="submit">Opprett sak</button>
        </form>
        <div class="back-button">
            <a href="/"><button>← Tilbake til hovedmenyen</button></a>
        </div>
    </div>
</body>

</html>