<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrer sakene</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h2>Administrer sakene</h2>
        <div class="back-button">
            <a href="/"><button>← Tilbake til hovedmenyen</button></a>
        </div>

        {% if tickets %}

        {% for ticket in tickets %}
        {% if ticket.status != 'lukket' %}

        <div class="ticket-card">
            <!-- Processing tickets -->
            {% if ticket.status == 'under behandling' %}
            <div class="ticket-title">{{ ticket.title }}</div>
            <div class="ticket-sender">
                Fra: <strong>{{ ticket.username }}</strong> {{ ticket.creation_time | format_date }}
            </div>
            <div class="ticket-description">{{ ticket.description }}</div>
            <!-- Ticket actions -->
            <span class="ticket-status status-processing">
                👁️‍🗨️ Under behandling av <strong>{{ ticket.process_id }}</strong> {{ ticket.process_time | format_date }}
            </span>

            <!-- Open tickets -->
            {% elif ticket.status == 'åpen' %}
            <div class="ticket-title">{{ ticket.title }}</div>
            <div class="ticket-sender">
                Fra: <strong>{{ ticket.username }}</strong> {{ ticket.creation_time | format_date }}
            </div>
            <div class="ticket-description">{{ ticket.description }}</div>
            <span class="ticket-status status-open">
                🔓 Åpen
            </span>
            {% endif %}
            <!-- Ticket actions -->
            <div class="ticket-actions">
                {% if ticket.status == 'åpen' %}
                <form method="POST" action="/manage_tickets">
                    <input type="hidden" name="ticket_id" value="{{ ticket.id }}">
                    <button type="submit" name="action" value="ta_sak">✅ Ta sak</button>
                </form>
                {% elif ticket.status == 'under behandling' %}
                <form method="POST" action="/manage_tickets">
                    <input type="hidden" name="ticket_id" value="{{ ticket.id }}">
                    <button type="submit" name="action" value="lukk_sak">🔒 Lukk sak</button>
                </form>
                {% endif %}
            </div>
        </div>

        {% endif %}
        {% endfor %}

        {% else %}
        <p class="no-case">Ingen åpne saker.</p>
        {% endif %}

        <div class="back-button">
            <a href="/"><button>← Tilbake til hovedmenyen</button></a>
        </div>
    </div>
</body>

</html>